
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}

.movie {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie__intro {
    width: 80%;
    position: relative;
}

.movie__backdrop {
    margin-top: 5px;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 0 35%;
    border-radius: 10px;
}

.movie__detail {
    display: flex;
    align-items: center;
    width: 75%;
    position: relative;
    bottom: 225px;
    color: #ffffff;
}

.movie__detailLeft,
.movie__detailRight {
    flex: 1;
    min-width: 300px;
}

.movie__posterBox {
    text-align: center;
}

.movie__poster {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie__detailRightTop {
    margin-bottom: 20px;
}

.movie__name {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
}

.movie__tagline {
    font-style: italic;
    color: #ffffff;
    margin-top: 5px;
}

.movie__rating {
    margin-top: 10px;
    font-size: 1.2em;
    color: #ffba00;
}

.movie__voteCount {
    margin-left: 10px;
    font-size: 0.8em;
    color: #666;
}

.movie__runtime,
.movie__releaseDate {
    margin-top: 10px;
    font-size: 1em;
}

.movie__genres {
    margin-top: 10px;
}

.movie__genre {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #9579db;
    color: white;
    border-radius: 5px;
    font-size: 0.9em;
}

.synopsisText {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
}

.movie__video {
    position: relative;
    max-width: 100%;
    border-radius: 10px;
    bottom: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie__links {
    margin-top: 20px;
}

.movie__heading {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.movie__linkContainer {
    margin-bottom: 10px;
}

.movie__Button {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    transition: background-color 0.3s;
}

.movie__Button:hover {
    background-color: #9579db;
}

.newTab {
    margin-left: 5px;
}


.productionCompanyImage {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.movie__productionCompany {
    width: 100px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 5px;
}
