.header {
    margin: 0 auto;
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerLeft,
.headerRight {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.headerLeft {
    margin-right: auto;
}

.headerRight {
    margin-left: auto;
}

a > span {
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: #9579db;
}

.header__icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}